$excel-green: #007233;
$segoe: "Segoe UI", "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
$segoe-light: "Segoe UI Light", "Segoe UI", "Helvetica Neue", "Open Sans", Helvetica, sans-serif;

%page-size {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 80%;
}

body {
  font: 17px/1.5 $segoe;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $segoe-light;
  font-weight: 100;
}

h1 {
  font-size: 68px;

  @media (max-width: 800px) {
    font-size: 34px;
  }
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 25px;
}

h4 {
  color: $excel-green;
  font-family: $segoe;
  font-size: 20px;
  font-weight: bold;
}

a {
  border-bottom: 1px solid $excel-green;
  color: $excel-green;
  font-weight: bold;
  text-decoration: none;
}

code,
kbd,
samp {
  font-family: Consolas, Courier New, Courier, sans-serif;

  main & {
    background: #f3f3f3;
    color: $excel-green;
    border: 1px solid #ddd;
    padding: 0 4px;
  }
}

pre {
  background: #f3f3f3;
  border: 1px solid #ddd;
  font-family: Consolas, Courier New, Courier, sans-serif;
  margin: 30px;
  overflow-x: auto;
  padding: 10px 20px;

  @media (max-width: 800px) {
    margin: 30px 0;

    li & {
      margin: 30px -30px;
    }
  }
}

ul,
ol {
  margin: 0 30px;
  padding: 0;
}

li {
  margin: 0.2em 0;
}

dl {
  margin: 30px;

  @media (max-width: 800px) {
    margin: 30px 0;
  }
}

dt {
  font-size: 20px;
  font-weight: 100;
  margin: .8em 0 .2em;
}

.xlsx {
  text-transform: lowercase;

  &:before {
    content: '.';
    color: #aaa;
  }
}

header {
  background: $excel-green;
  color: white;
  font-family: $segoe-light;
  font-size: 34px;
  font-weight: 100;
  padding: 60px 30px;

  @media (max-width: 800px) {
    font-size: 25px;
    padding: 30px;
  }

  
  h1,
  p {
    @extend %page-size;
    margin-top: 0;
    margin-bottom: 0;
  }

  small {
    font-family: $segoe;
    font-size: 34px;
    font-weight: bold;
  }

  ul {
    @extend %page-size;
    font-size: 21px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 10px 20px 0 0;

    a {
      background: url(bg/header-icons.png) no-repeat 0 50%;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      display: block;
      font-weight: normal;
      padding: 5px 10px 5px 65px;

      &:hover {
        background-color: white;
        color: $excel-green;
      }

      &.zip {
        background-position: 10px 50%;

        &:hover {
          background-position: -150px 50%;
        }
      }

      &.github {
        background-position: -310px 50%;
        padding-left: 43px;

        &:hover {
          background-position: -470px 50%;
        }
      }
    }

    strong {
      display: block;
    }
  }
}

main {
  @extend %page-size;
  padding: 30px;
}

.intro {
  color: $excel-green;
  font-family: $segoe-light;
  font-size: 42px;
  font-weight: 100;
  margin: 30px;

  @media (max-width: 800px) {
    margin: 15px 0;
    font-size: 25px;
  }
}

footer {
  background: $excel-green;
  color: white;
  padding: 30px;

  p,
  h2 {
    @extend %page-size;
  }

  a {
    border-color: white;
    color: white;
  }
}