<div class="jumbotron">
    <h1>Sample web application</h1>
    <p class="lead">This sample app demonstrates how to use WebApiContrib.Formatting.Xlsx.</p>
    <p><a href="https://webapicontrib.github.io/WebApiContrib.Formatting.Xlsx/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Try it out</h2>
        <p>Call the API GET method to see an example of what this project can do.</p>
        <p><a href="/api/values" class="btn btn-primary btn-large">Get the data</a></p>
    </div>
    <div class="col-md-6">
        <h2>Check out the code</h2>
        <p>You can find all of the plumbing in <kbd>App_Start/WebApiConfig.cs</kbd> and <kbd>Models/CiaWorldFactbookEntry.cs</kbd>.</p>
    </div>
</div>
